@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* share-content */
.displayflex{
    display: flex;
}
/* main-content */
body{
    width: 100%;
    font-family: "Quicksand", serif;
    font-style: normal;
    font-weight: 400;
    font-optical-sizing: auto;
    margin: 0;

}


ul{
    gap:20px;
}
nav li{
    list-style: none;
   
}
nav a{
    text-decoration: none;
}
.a1{
    color: rgb(254, 163, 1);
}
.a2{
    color:rgb(1, 172, 253)
}
.a3{
    color:rgb(5, 212, 223);
}
.a4{
 color:rgb(93, 88, 239);
}
.header-inside{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
   align-items: center;
}
.btn{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 400;
background: rgb(254, 163, 1);
}

.menu{
    display: none;
}
.max-width{
    max-width: 1160px;
    margin: 0 auto;
}
.part2{
 display: flex;
 

}

.part2-description{
  /* width: 60% ; */
  display: flex;
  align-items: center;

  
}
.inside-description h1{
    /* width: 90%; */
    font-size: 2.5rem;
}
.inside-description p{
    width: 90%;
    font-size: 1.2rem;
}
.word1{
  color: #FEA301;  
}
.word2{
   color: #01ACFD;
}
.two{
    background-color: black;
}

.part2 img{
   width: 100%;
}
.part3{
    background-image: url(assets/bg.png);
    
}


@media screen and (max-width:576px) {
    .school .name,.nav,.contact{
        display: none;
    }
    .menu{
        display: inline-block;
        width: 25px;
    }
    .h-border-phone{
        border: 1px solid #FEA301;
    
    }
    .part2{
        flex-direction: column-reverse ;
        text-align: center;
        padding: 15px;
    } 

    
}